body{
    margin: 0;
    background: #000000;
    overflow: hidden;
}

canvas{
    display: block;
}

nav a:hover{
    color:rgb(255, 250, 250);
}

.nav2{
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 0 20px;
    width: 90%;
}

a{
   
    display: block;
    font-size: 19px;
    margin-bottom: 0px;
    text-decoration: none;
    color: rgb(44, 32, 32);
}
 .fade-bg {
            position: fixed;
            inset: 0;
            background: white;
            animation: fadeOut 1.6s ease forwards;
            z-index: 9999;
        }

        @keyframes fadeOut {
            0% { opacity: 1; }
            100% { opacity: 0; visibility: hidden; }
        }

    .data{
    
    position: absolute;
    font-family:"Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    top: 50%;   
    left: 38%;
    font-size: 12px;
    color: rgb(255, 255, 255);
    width: 1440px;
}
